html {
  background-color: #F1F0E8;
  font-family: "Encode Sans Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p, ul, .subtitle, .job_title {
  font-size: 1rem;
}

#header, #summary, #professional_experience, #education, #technical_skills, #soft_skills {
  background-color: #B3C8CF;
  padding: 20px;
  border: 2px solid #89A8B2;
  border-radius: 1vi;
  margin-top: 2%;
  margin-right: 20%;
}
