body {
  margin: auto;
  overflow-x: hidden;
  /* background: linear-gradient(360deg, rgba(64, 0, 64, 1) 10%, rgba(0, 0, 0, 1) 100%); */
  background: linear-gradient(360deg, rgba(64, 66, 88, 1) 10%, rgba(0, 0, 0, 1) 100%);
  background-attachment: fixed;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 2rem;
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

/* Top */

.container {
  padding: 2% 4%;
}

.top-header {
  text-align: left;
  color: #ffffff;
}

/* Main */

.card-main {
  padding: 3% 2%;
}

.card-title {
  background-color: rgba(255,255,255,.25);
  border-radius: 10px;
}

.card-text {
  display: none;
  visibility: hidden;
}

.profile-img {
  position: absolute;
  z-index: -1;
}


#about:hover ~ .about {
    display: block;
    visibility: visible;
    animation: 2s show ease-out;
}

#education:hover ~ .education {
    display: block;
    visibility: visible;
    animation: 2s show ease-out;
}

#experience:hover ~ .experience {
    display: block;
    visibility: visible;
    animation: 2s show ease-out;
}

/* Main animation */

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* Footer */

#footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #000000;
}

.footer-img {
  color: #ffffff;
  padding: 3% 5%;
  font-size: 2rem;
}

.footer-img:hover {
  opacity: .5;
}

.copyright {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #ffffff;
}

/* Background Animation */

.wave {
  /* background: rgba(64, 0, 64, 0.5); */
  background: rgba(107, 114, 142, 0.5);
  border-radius: 0 0 1000% 1000%;
  position: fixed;
  width: 300%;
  height: 5em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  top: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  top: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  top: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

.bounce {
  position: relative;
  top: 10px;
  display: inline-block;
  animation: bounce 2s infinite;

}

@keyframes bounce {
  0% {
    transform: translateY(0)
  }
  50% {
    transform: translateY(-10px)
  }
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}

/* Screen Size Response */

@media (max-width: 1028px) {

  .container {
    padding: 3% 10%;
  }

  .top-header {
    font-size: 4rem;
    text-align: center;
  }

  .card-title {
    font-size: 4rem;
  }

  .card-text {
    font-size: 3rem;
  }

  .footer-img {
    color: #ffffff;
    padding: 3% 5%;
    font-size: 4rem;
  }

}
