body {
  margin: auto;
  overflow-x: hidden;
  background: linear-gradient(360deg, rgba(64, 0, 64, 1) 10%, rgba(0, 0, 0, 1) 100%);
  background-attachment: fixed;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 2rem;
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

/* Top */

.container {
  padding: 2% 4%;
}

.top-header {
  text-align: left;
  color: #ffffff;
}

/* Main */

.card-main {
  padding: 3% 2%;
}

.card-title {
  background-color: rgba(255,255,255,.25);
  border-radius: 10px;
}

.card-text {
  display: none;
  visibility: collapse;
}

#about:hover ~ .about {
    display: block;
    visibility: visible;
    animation: 2s show ease-out;
}

#education:hover ~ .education {
    display: block;
    visibility: visible;
    animation: 2s show ease-out;
}

#experience:hover ~ .experience {
    display: block;
    visibility: visible;
    animation: 2s show ease-out;
}

/* Footer */

.footer-img {
  color: #ffffff;
  padding: 3% 5%;
  font-size: 2rem;
}

.footer-img:hover {
  opacity: .5;
}

.copyright {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #ffffff;
}

/* Animation */

.wave {
  background: rgba(64, 0, 64, 0.5);
  border-radius: 0 0 1000% 1000%;
  position: fixed;
  width: 300%;
  height: 5em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  top: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  top: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  top: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

.circles {
  position: absolute;
  top: -200px;
  left: 0;
  width: 100%;
  z-index: -1;
}

.circles li {
  font-family: 'Amatic SC', cursive;
  position: absolute;
  font-size: 5rem;
  list-style: none;
  width: 20px;
  height: 20px;
  color: rgba(64, 0, 64, 1);
  animation: falling 25s linear infinite;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

.circles li:nth-child(11) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(12) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(13) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(14) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.bounce {
  position: relative;
  top: 10px;
  display: inline-block;
  animation: bounce 2s infinite;

}

@keyframes bounce {
  0% {
    transform: translateY(0)
  }
  50% {
    transform: translateY(-10px)
  }
}

@keyframes falling {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
    opacity: 1;
    border-radius: 10%;
  }
  100% {
    transform: translate3d(0, 700px, 0) rotate(720deg);
    opacity: 0;
    border-radius: 100%;
  }
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}


@media (max-width: 1028px) {

  .container {
    padding: 3% 10%;
  }

  .top-header {
    font-size: 4rem;
    text-align: center;
  }

  .card-title {
    font-size: 4rem;
  }

  .card-text {
    font-size: 3rem;
  }

  .footer-img {
    color: #ffffff;
    padding: 3% 5%;
    font-size: 4rem;
  }

}
