h3, .stats, .score, .streak {
  margin: 1rem;
}

.game-container {
  max-width: 100dvw;
  min-height: 100dvh;
  margin: 2%;
  padding: 1rem;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.stats-container, .btn-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
  margin: 1rem;
}

.stats {
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 1);
  padding: 1rem;
  margin: 1rem;
  color: #000000;
}

.score, .streak { 
  font-size: 1.5rem;
  color: #38a169; 
}

.streak { 
  font-size: 1.5rem;
  color: #dd6b20; 
}

.equation {
  font-size: 10dvw;
  font-weight: bold;
  color: #ffff;
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 1);
  padding: 1rem;
  margin: 1rem;
}

.input-container {
  display: flex; 
  align-items: center;
}

.game-container input {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  margin: 1rem;
  font-size: 2rem;
  border: 2px solid #cbd5e0;
  border-radius: 15px;
  text-align: center;
  transition: border-color 0.2s;
}

input[type="number"]:focus::placeholder {
  border-color: #667eea;
  opacity: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.submit-btn {
  padding: 1rem;
  margin: 1rem;
  background-color: #4274D9;
}

.submit-btn:hover { 
  background-color: #153981; 
}

.randomize-btn {
  padding: 1rem;
  margin: 1rem;
  background-color: #dd6b20;
}

.randomize-btn:hover { 
  background-color: #a54e14; 
}

.submit-btn, .randomize-btn {
  padding: 1rem;
  color: white;
  font-size: 2rem;
  border: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  transition: all 0.2s;
}

.feedback {
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.correct { 
  color: #fffb00; 
}
.incorrect { 
  color: #ff0000; 
}

.star {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  animation: twinkle 1s infinite alternate ease-in-out;
  pointer-events: none;
}

@keyframes twinkle {
  0% { opacity: 0.4; transform: scale(0.8); }
  100% { opacity: 1; transform: scale(1.2); }
}