body {
  display: grid;
  grid-template-rows: auto auto auto;
  min-height: 100dvh;
  font-family: "Roboto", "Lilita One", sans-serif;
  font-style: normal;
  font-size: 1rem;
  color: #ffffff;
  background: linear-gradient(45deg, #58014a, #110468);
  background-attachment: fixed;
}

.profile {
  width: 100dvw;
  height: 100dvh;
  background: url("./Images/profile.png");
  background-size:cover;
  background-position: center;
  padding: 5rem;
  text-align: center;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
}

.container{
  padding: 5rem;
}

.footer {
  text-align: center;
  width: 100%;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  font-family: "Roboto", sans-serif;
}

.footer a {
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.quote {
  font-size: 0.7rem;
  font-style: italic;
  color: #ffffff;
  margin-top: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}