body {
  background: linear-gradient(190deg, #EAE0CF, #94B4C1, #547792);
  background-attachment: fixed;
}

footer {
  text-align: center;
  color: white;
}

div {
  padding: 10px;
}

.tile-image {
  border-radius: 15%;
  height: 100px;
}