@import url('https://fonts.googleapis.com/css2?family=Asap&family=JetBrains+Mono&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Asap", sans-serif;
  font-size: 1.5rem;
  text-align: center;
}

body {
  background: linear-gradient(360deg, rgba(64, 66, 88, 1) 10%, rgba(0, 0, 0, 1) 100%);
  background-attachment: fixed;
}

.top-hello {
  font-family: "JetBrains", monospace;
  font-size: 3rem;
  font-weight: bold;
  transform: rotate(320deg);
  color: #FF8E00;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section:nth-child(2){
  color: #42455a;
  background: rgba(224, 255, 255, 0.8);
}

section:nth-child(3){
  color: #e0ffff;
}

section:nth-child(4){
  color: #42455a;
  background: rgba(224, 255, 255, 0.8);
}

section:nth-child(5){
  color: #e0ffff;
}

section .container {
  margin: 100px;
}

section h2 {
  font-family: "JetBrains", monospace;
  text-transform: lowercase;
}

section .text-container {
  display: flex;
  flex-direction: column;
}

section .text-container .text-box {
  width: 100%;
  margin: 20px;
  padding: 20px;
  border-radius: 25px;
  background: rgba(3, 201, 136, 0.5);
}

.footer-img {
  color: #ffffff;
  padding: 1% 2%;
}

.footer-img:hover {
  opacity: .5;
}

.reveal {
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  filter: blur(1rem);
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  filter: blur(0);
  opacity: 1;
}

.wave {
  background: rgba(107, 114, 142, 0.5);
  border-radius: 0 0 1000% 1000%;
  position: fixed;
  width: 300%;
  height: 25em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  top: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  top: -1em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  top: -3em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

.wave:nth-of-type(4) {
  top: -4em;
  animation: wave 50s -1s reverse infinite;
  opacity: 0.5;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }
  25% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(1);
  }
}