body {
  background: linear-gradient(190deg, #EAE0CF, #94B4C1, #547792, #213448);
  background-attachment: fixed;
  padding-left: 15%;
  padding-right: 15%;
}

div {
  padding: 50px;
}

.tile-image {
  border-radius: 15%;
  height: 100px;
}